<div id="profile-menu-wrapper" class="clearfix">
    <ul class="nav float-right">
        <li class="nav-item">
            <a class="nav-link" href="/office/faq" title="Frequently Asked Questions"><i class="fa fa-question-circle"></i></a>
        </li>
        <li class="nav-item dropdown comp__notification">
            <a class="nav-link dropdown-toggle lp__trigger_notification_dropdown" data-toggle="dropdown" href="#" title="Alerts"><i class="fa fa-bell"></i></a>
            <div class="dropdown-menu dropdown-menu-right pb-0">
              <div class="lp__notification_dropdown_header pr-2">
                <p class="title"><span class="pl-3">Notifications</span>
                  <a href="<%=notification_preferences_office_preferences_path%>" class="pull-right"><%= gear_icon %></a>
                </p>
              </div>
             <div class="lp__notification_dropdown">
                <%= render partial: 'shared/notification_partials/notification_dropdown'%>   
              </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.user_office.office.name %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-item">
                  <a href="<%=office_account_path%>" class="dropdown-link">
                    <div class="clearfix">
                        <h6 class="float-left col-10 p-0 mb-0"><%= current_user.user_office.office.name %></h6>
                        <span class="float-right mt-0"><%=nav_angle_right_icon%></span>
                    </div>                    
                    <p class="font-sm m-0"><%= current_user.user_office.office.display_location_single %></p>
                    <p class="font-sm m-0"><%= format_phone_number_string(current_user.user_office.office.phone) %></p>
                  </a>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-uppercase" href="<%= change_password_office_account_path %>">Change Password</a>
                <a class="dropdown-item text-uppercase" href="<%= office_account_payment_methods_path %>">Payment Information</a>
                <a class="dropdown-item text-uppercase" href="/office/faq">FAQ</a>
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item text-uppercase') %>
            </div>
        </li>
    </ul>
</div>

