<div class="modal-dialog" role="document">
  <div class="modal-body pt-0 mt-0 comp__office">
    <div class="row comp__form pl-4 pr-4 pt-4" id="exclude_date_form">
      <div class="col-12">
        <h3 class="ft-bold">Exclude Dates</h3>
        <p class="mt-2">Please select any date or range of dates - for things like holidays, vacations, etc. - that you will not be accepting
          appointments, even if you have an appointment slot.</p>
      </div>
      <%= form_for @record, url: admin_office_path(@record), method: :put,  html: { class: "col-12 p-0", autocomplete: "off", onsubmit: "return false;"  } do |f|%>
        <%= lp_hidden_field(nil, :redirect_to, admin_office_policies_path(@record)) %>
        <%= f.fields_for :office_exclude_dates do |o| %>
          <%= render '/office/components/office_exclude_date_fields', f: o %>
        <% end %>
        <%= link_to_add_fields "Add Exclusion Date(s)", f, :office_exclude_dates , '/office/components/'%>
        <div class="col-12 mt-3 text-center hidden-xs-down">
          <button class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
          <button data-submit type="submit" class="btn btn-success">Submit</button>
        </div>
        <div class="col-12 mt-3 text-center hidden-sm-up">
          <button data-submit type="submit" class="btn btn-success btn-block">Submit</button>
          <button class="btn btn-secondary btn-block" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
	LPOffice_Initializer();
	LPForm_Initializer();
</script>