<div class="modal-body p-0 appointment-modal comp__rep_order_detail" data-initialize-stars=true>
  <div class="container-fluid">
    <div class="row faux-modal-header bb-1">
      <div class="pl-3 pr-2 pt-1 hidden-xs-down">
        <%= order_history_hourglass_icon %>
      </div>
      <div class="col-xs-12 col-sm-9 mt-1">
        <h3 class="ft-bold"><a href="<%=appointment_office_link(@order.appointment)%>"><%= @order.appointment.office.name %> <i class="fa fa-angle-right"></i></a></h3>
        <span><%= short_date(@order.appointment.appointment_on) %></span>
        <br/>
        <% if @order.appointment.non_lp? %>
          <span><%= "#{slot_time(@order.appointment.starts_at(true))}" %></span>
        <% else %>
          <span><%= "#{@order.appointment.appointment_slot.name}: #{slot_time(@order.appointment.starts_at(true))}" %></span>
        <% end %>
      </div>
    </div>
    <div class="col-12 p-0">
      <div class="tab-pane with-cards pr-1" id="about" role="tabpanel">
        <div class="card-columns mb-3 row">
          <div class="row appointment-modal-body lp__appointment_body col-12 pr-0">
            <div class="col-12 col-md-6 p-0">
              <div class="card">
                <div class="card-header">Order Summary - #<%=@order.order_number %></div>
                <div class="card-block">
                  <!-- receipt header -->
                  <div class="row">
                    <span class="col-12 text-uppercase mb-2">
                      <strong><%= @order.restaurant.name %></strong>
                    </span>
                  </div>
                  <p class="mb-1">Order Served: <%=@order.people_served%> people</p>
                  <!-- receipt item loop -->
                  <% @order.line_items.active.each do |li| %>
                    <% next if li.parent_line_item %>
                    <div class="row">
                      <div class="col-12 mb-3">
                        <p class="mb-0"><strong><%= li.orderable_name %></strong><span class="pull-right"><%= precise_currency_value(li.cost_with_sub_items) %></span></p>
                        <p class="mb-0">Quantity: <%= li.quantity %></p>
                        <% li.sub_line_items.active.each do |sli| %>
                          <p class="pl-3 mb-0">
                            <%= sli.orderable_name %>
                            <% if sli.cost_cents.to_i > 0 %>
                              <%= "(#{precise_currency_value(sli.cost_cents)})" %>
                            <% end %>
                          </p>
                        <% end %>
                        <% if li.notes.present? %>
                          <p class="pl-3 mb-0"><span class="lp__order_item_notes"><%= li.notes %></span></p>
                        <% end %>
                      </div>
                    </div>
                    <hr>
                  <% end %>
                  <!-- total -->
                  <table class="text-right col-12 text-uppercase ft-bold">
                    <tr class="row">
                      <td class="col-12 col-sm-8">Subtotal:</td>
                      <td class="col-12 col-md-4"><%= precise_currency_value(@order.subtotal_cents)%></td>
                    </tr>
                    <tr class="row">
                      <td class="col-12 col-sm-8">Delivery Fee:</td>
                      <td class="col-12 col-sm-4"><%= precise_currency_value(@order.delivery_cost_cents)%></td>
                    </tr>
                    <tr class="row">
                      <td class="col-12 col-sm-8">Tax:</td>
                      <td class="col-12 col-sm-4"><%= precise_currency_value(@order.sales_tax_cents)%></td>
                    </tr>
                    <tr class="bb-1 row">
                      <td class="pb-3 col-12 col-sm-8">Driver Tip:</td>
                      <td class="pb-3 col-12 col-sm-4"><%= precise_currency_value(@order.tip_cents)%></td>
                    </tr>
                    <tr class="row">
                      <td class="col-12 col-sm-8">Total Charge:</td>
                      <td class="col-12 col-sm-4"><%= precise_currency_value(@order.total_cents)%></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="card mb-5">
                <div class="card-header">
                  Representative Notes
                </div>
                <div class="card-block">
                  <span>
                    <%= @order.rep_notes || "The Representative did not leave any notes." %>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 p-0">
              <div class="card transparent">
                <div class="card-block pt-0">
                  <% if !@rep_order_review.new_record? %>
                    <h4 class="card-title ft-bold text-center">Your Feedback</h4>
                    <div class="col-12 pr-0">
                      <fieldset>
                        <div class="row align-items-center mt-2">       
                          <div class="col-12 col-md-5 p-0">
                            <legend class="col-form-legend ft-bold pb-2">Food Quality:</legend>                          
                          </div>
                          <div class="col-12 col-md-7 p-0">
                            <fieldset class="order-rating rating-disabled d-inline" id="food_quality" data-comp-checked-value="<%=@rep_order_review.food_quality%>">
                              <input type="radio" id="quality5" name="order_review[food_quality]" value="5" /><label for="quality5">5 stars</label>
                              <input type="radio" id="quality4" name="order_review[food_quality]" value="4" /><label for="quality4">4 stars</label>
                              <input type="radio" id="quality3" name="order_review[food_quality]" value="3" /><label for="quality3">3 stars</label>
                              <input type="radio" id="quality2" name="order_review[food_quality]" value="2" /><label for="quality2">2 stars</label>
                              <input type="radio" id="quality1" name="order_review[food_quality]" value="1" /><label for="quality1">1 star</label>
                            </fieldset>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <div class="row align-items-center mt-2">
                          <div class="col-12 col-md-5 p-0">
                            <legend class="col-form-legend ft-bold pb-2">Presentation:</legend>                          
                          </div>
                          <div class="col-12 col-md-7 p-0">
                            <fieldset class="order-rating rating-disabled pull-left" id="presentation" data-comp-checked-value="<%=@rep_order_review.presentation%>">
                              <input type="radio" id="presentation5" name="order_review[presentation]" value="5" /><label for="presentation5">5 stars</label>
                              <input type="radio" id="presentation4" name="order_review[presentation]" value="4" /><label for="presentation4">4 stars</label>
                              <input type="radio" id="presentation3" name="order_review[presentation]" value="3" /><label for="presentation3">3 stars</label>
                              <input type="radio" id="presentation2" name="order_review[presentation]" value="2" /><label for="presentation2">2 stars</label>
                              <input type="radio" id="presentation1" name="order_review[presentation]" value="1" /><label for="presentation1">1 star</label>
                            </fieldset>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <div class="row align-items-center mt-2">
                          <div class="col-12 col-md-5 p-0">
                            <legend class="col-form-legend ft-bold pb-2">Completeness:</legend>                          
                          </div>
                          <div class="col-12 col-md-7 p-0">
                            <fieldset class="order-rating rating-disabled pull-left" id="completion" data-comp-checked-value="<%=@rep_order_review.completion%>">
                              <input type="radio" id="completeness5" name="order_review[completion]" value="5" /><label for="completeness5">5 stars</label>
                              <input type="radio" id="completeness4" name="order_review[completion]" value="4" /><label for="completeness4">4 stars</label>
                              <input type="radio" id="completeness3" name="order_review[completion]" value="3" /><label for="completeness3">3 stars</label>
                              <input type="radio" id="completeness2" name="order_review[completion]" value="2" /><label for="completeness2">2 stars</label>
                              <input type="radio" id="completeness1" name="order_review[completion]" value="1" /><label for="completeness1">1 star</label>
                            </fieldset>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <div class="row align-items-center mt-2">
                          <div class="col-12 col-md-5 p-0">
                            <legend class="col-form-legend ft-bold">On-Time:</legend>
                          </div>
                          <div class="col-12 col-md-7 p-0 ft-bold text-uppercase">
                            <%= @rep_order_review.on_time_display %>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <div class="row align-items-center mt-3">
                          <div class="col-12 p-0 ft-bold">
                            Comments:
                          </div>
                          <div class="col-12 p-0 mt-1">
                            <%=@rep_order_review.comment%>
                          </div>
                        </div>
                      </fieldset>
                    </div>                    
                  <% else %>
                    <div class="col-12 pr-0 mb-4">
                      <h4 class="ft-bold text-center"><i>You have not left any feedback for this order!</i></h4>
                    </div>
                  <% end %>
                  <% if !@order.appointment.non_lp? %>
                    <div class="col-12 col-lg-8 mr-auto mt-4 ml-auto p-0">
                      <a class="btn btn-info btn-block" href="<%=reorder_rep_order_path(@order, appointment_id: appointment.id)%>" data-method="post">Repeat Order</a>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  LPRepOrderDetail_Initializer();
</script>