<div class="modal-body p-0 appointment-modal comp__rep_orfer_fetail" data-initialize-stars=true>
  <div class="container-fluid">
    <div class="row faux-modal-header bb-1">
      <div class="pl-3 pr-2 pt-1 hidden-xs-down">
        <%= calendar_clock_icon %>
      </div>
      <div class="col-xs-12 col-sm-9 mt-1">
        <h3 class="ft-bold"><a href="<%=appointment_office_link(@order.appointment)%>"><%= @order.appointment.office.name %> <i class="fa fa-angle-right"></i></a></h3>
        <span><%= short_date(@order.appointment.appointment_on) %></span>
        <br/>
        <% if @order.appointment.appointment_slot %>
          <span><%= "#{@order.appointment.appointment_slot.name}: #{slot_time(@order.appointment.starts_at(true))}" %></span>
        <% else %>
          <span><%= "#{slot_time(@order.appointment.starts_at(true))}" %></span>
        <% end %>
      </div>
    </div>
    <div class="col-12 p-0">
      <div class="tab-pane with-cards pr-1" id="about" role="tabpanel">
        <div class="card-columns mb-3 row">
          <div class="row appointment-modal-body lp__appointment_body col-12 pr-0">
            <%= render partial: "rep/orders/components/active_order_detail.html.erb", locals: {redirect: redirect, order: @order}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  LPRepOrderDetail_Initializer();
  LPRepForm_Initializer();
</script>