<% tab 'contacts' %>

<%= render partial: 'admin/shared/components/details/back', locals: { url: session[:my_previous_url] } %> <!--admin_sales_rep_path(@rep) } %>-->

<div class="comp__section-header col-sm-9 offset-sm-3 col-md-10 offset-md-2">
  <div class="row">
    <div class="col-6 px-4"><h2 class="lp__light"><%= @rep.display_name %></h2></div>
    <div class="col-6 px-4 text-right">
      <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
      </div>
    </div>
  </div>
</div>

<div class="comp__content">
  <% if @rep.user && !@rep.user.new_record? %>
    <%= render partial: 'admin/shared/components/details/menu',
                locals: {
                  menu_items: [
                    {title: 'Overview', path: admin_sales_rep_path(@rep), active_tab: 'overview'},
                    {title: 'Contact Preferences', path: admin_sales_rep_contacts_path(@rep), active_tab: 'contacts'},
                    {title: 'Upcoming Appointments', path: admin_sales_rep_appointments_path(@rep), active_tab: 'appointments'},
                    {title: 'Past Orders', path: admin_sales_rep_orders_path(@rep), active_tab: 'past_orders'},
                    {title: 'Payments', path: admin_sales_rep_payments_path(@rep), active_tab: 'payments'},
                    {title: 'Rewards', path: admin_sales_rep_rewards_path(@rep), active_tab: 'rewards'},
                    {title: 'Notifications', path: admin_sales_rep_notifications_path(@rep), active_tab: 'notifications'}
                  ]
                } %>
  <% else %>
    <%= render partial: 'admin/shared/components/details/menu',
                locals: {
                  menu_items: [
                    {title: 'Overview', path: admin_sales_rep_path(@rep), active_tab: 'overview'},
                    {title: 'Contact Preferences', path: admin_sales_rep_contacts_path(@rep), active_tab: 'contacts'},
                    {title: 'Upcoming Appointments', path: admin_sales_rep_appointments_path(@rep), active_tab: 'appointments'},
                    {title: 'Rewards', path: admin_sales_rep_rewards_path(@rep), active_tab: 'rewards'},
                    {title: 'Notifications', path: admin_sales_rep_notifications_path(@rep), active_tab: 'notifications'}
                  ]
                } %>
  <% end %>

  <div class="row">
    <div class="col-6 mt-2">
      <%= render partial: 'admin/shared/components/tables/static_table',
                  locals: {
                    title: 'Email Addresses',
                    table_actions: [{name: 'Add Email', url: new_admin_sales_rep_contact_path(@rep, contact_type: 'email')}],
                    actions: [{title: 'Delete', context: :confirm, confirm_message: "Are you sure you want to delete this Sales Rep Email?", path: delete_admin_sales_rep_contacts_path(@rep, contact_type: 'email', id: "<id>"), button_class: 'btn btn-danger btn-sm'}],
                    columns: ['email_address', 'email_type', 'notify__flag'],
                    model_class: 'SalesRepEmail',
                    objects: @rep.sales_rep_emails.where.not(status: ['deleted','inactive'])
                  } %>
    </div>

    <div class="col-6 mt-2">
      <%= render partial: 'admin/shared/components/tables/static_table',
                  locals: {
                    title: 'Phone Numbers',
                    table_actions: [{name: 'Add Phone', url: new_admin_sales_rep_contact_path(@rep, contact_type: 'phone')}],
                    actions: [{title: 'Delete', context: :confirm, confirm_message: "Are you sure you want to delete this Sales Rep Phone?", path: delete_admin_sales_rep_contacts_path(@rep, contact_type: 'phone', id: "<id>"), button_class: 'btn btn-danger btn-sm'}],
                    columns: [{column: 'phone_number', helper: 'format_phone_number_string'}, 'phone_type', 'notify__flag'],
                    model_class: 'SalesRepPhone',
                    objects: @rep.sales_rep_phones.where.not(status: ['deleted','inactive'])
                  } %>
    </div>
  </div>

  <% if @rep.user %>
    <div class="row">
      <div class="col-12 mt-2">
        <%= render partial: 'admin/shared/components/tables/static_table',
                    locals: {
                      title: 'Notification Preferences',
                      table_actions: [{name: 'Edit Preferences', url: edit_preferences_admin_sales_rep_contacts_path(sales_rep_id: @rep.id)}],
                      columns: ['notification_event.internal_summary', 'sms_enabled__flag', 'email_enabled__flag'],
                      model_class: 'Views::NotificationPreference',
                      objects: @rep.notification_preferences
                    } %>
      </div>
    </div>
  <% end %>

</div>
