<% tab 'notifications' %>

<%= render partial: 'admin/shared/components/details/back', locals: { url: session[:my_previous_url] } %> <!--admin_sales_rep_path(@rep) } %>-->

<div class="comp__section-header col-sm-9 offset-sm-3 col-md-10 offset-md-2">
  <div class="row">
    <div class="col-6 px-4"><h2 class="lp__light"><%= @rep.display_name %></h2></div>
    <div class="col-6 px-4 text-right">
      <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
      </div>
    </div>
  </div>
</div>

<div class="comp__content">
  <% if @rep.user && !@rep.user.new_record? %>
    <%= render partial: 'admin/shared/components/details/menu',
                locals: {
                  menu_items: [
                    {title: 'Overview', path: admin_sales_rep_path(@rep), active_tab: 'overview'},
                    {title: 'Contact Preferences', path: admin_sales_rep_contacts_path(@rep), active_tab: 'contacts'},
                    {title: 'Upcoming Appointments', path: admin_sales_rep_appointments_path(@rep), active_tab: 'appointments'},
                    {title: 'Past Orders', path: admin_sales_rep_orders_path(@rep), active_tab: 'past_orders'},
                    {title: 'Payments', path: admin_sales_rep_payments_path(@rep), active_tab: 'payments'},
                    {title: 'Rewards', path: admin_sales_rep_rewards_path(@rep), active_tab: 'rewards'},
                    {title: 'Notifications', path: admin_sales_rep_notifications_path(@rep), active_tab: 'notifications'}
                  ]
                } %>
  <% else %>
    <%= render partial: 'admin/shared/components/details/menu',
                locals: {
                  menu_items: [
                    {title: 'Overview', path: admin_sales_rep_path(@rep), active_tab: 'overview'},
                    {title: 'Contact Preferences', path: admin_sales_rep_contacts_path(@rep), active_tab: 'contacts'},
                    {title: 'Upcoming Appointments', path: admin_sales_rep_appointments_path(@rep), active_tab: 'appointments'},
                    {title: 'Rewards', path: admin_sales_rep_rewards_path(@rep), active_tab: 'rewards'},
                    {title: 'Notifications', path: admin_sales_rep_notifications_path(@rep), active_tab: 'notifications'}
                  ]
                } %>
  <% end %>

  <div class="row">
    <div class="col-12 mt-2">
      <%= render partial: 'admin/shared/components/tables/static_table',
            locals: {
              title: 'Notification History',
              link_columns: {appointment_time: 'id', id: 'id'},
              columns: ['id', 'title', 'priority', {title: 'Notify Time', column: 'notified_at', helper: 'long_date'}, 'delivery_summary'],
              model_class: 'Notification',
              objects: @rep_notifs
            } %>    
    </div>


</div>