<div class="modal-body p-0 appointment-modal">
  <div class="container-fluid">
    <div class="row faux-modal-header bb-1">
      <div class="pl-3 pr-1 pt-1 hidden-xs-down">
        <%= calendar_exclamation_icon_lg %>
      </div>
      <div class="col-12 col-sm-10 mt-1 pt-3">
        <h3 class="ft-bold"><a href="<%=appointment_office_link(@record)%>"><%= @record.office.name %> <i class="fa fa-angle-right"></i></a></h3>
        <span>Sample Request</span>
      </div>
    </div>
    <div class="row appointment-modal-body">
      <div class="col-12 row m-0">
        <div class="ft-bold col-12 p-0 mb-2 h4">Sample Request</div>
        <div><%= drug_circle_icon(35, 35) %></div>
        <div class="ft-bold mt-1 ml-2"><%= drugs(drugs)%>
      </div>
      <div class="col-12 p-0 mt-3">
        <p class="ft-bold m-0">Message:</p>
        <p><%= @record.office_notes %></p>
      </div>
      <% if require_appointment %>
        <div class="col-4 mx-auto p-0">
          <a href="<%=policies_rep_appointments_path(office_id: @record.office.id)%>" class="btn btn-primary btn-block">Book Rx Appointment</a>
        </div>
      <% else %>
        <div class="col-4 mx-auto p-0">
          <a href="<%=deliver_samples_rep_appointment_path(@record)%>" data-method="post" class="btn btn-primary btn-block">Samples Delivered</a>
        </div>
      <% end %>
    </div>
  </div>
</div>

