<div class="modal-body p-0 appointment-modal-body">
  <div class="container-fluid comp__rep_form">
    <% if appointments.any? %>
      <div class="row appointment-modal-body px-0 pt-5">
        <div class="col-12 text-center">
          <h3 class="ft-bold">Eligible Appointments For Reorder</h3>
        </div>
      </div>
      <div class="row appointment-modal-body px-0 pt-0">
        <div class="col-12 p-0 tab-content">
          <div class="vertical-nav">
            <ul class="appointments-list">
              <% appointments.each do |appt| %>
                <li class="order-appointments">
                  <div class="vertical-nav-li-header appointments-header">
                    <%= short_date(appt.appointment_on) %>
                  </div>
                  <a href="<%=policies_rep_orders_path(order_id: order.id, appointment_id: appt.id)%>">
                    <div class="vertical-nav-li-content row no-gutters align-items-center appointments pl-0 pr-1">
                      <div class="hidden-xs-down ml-4 mr-3 pt-2">
                        <%= calendar_clock_icon %>
                      </div>
                      <div class="col-10 col-sm-8 col-md-9 ml-3">
                        <div class="h5 mt-3">
                          <%= appt.office.name %>
                        </div>
                        <div class="mt-1">
                          <%= appt.appointment_slot.name %> - <%= slot_time(appt.starts_at(true)) %>
                        </div>
                        <div class="mb-2">
                          Sugg. Order Count: <%= appt.appointment_slot.total_staff_count %>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row appointment-modal-body px-0 pt-4">
        <div class="col-12 text-center">
          <span class="opacity-7"><%= calendar_plus_icon_xl %></span>
          <h3>You currently have no eligible upcoming appointments for this order! Click <a href="<%= new_rep_appointment_path %>">here</a> to create one!</h3>
        </div>
        <% end %>
      </div>
  </div>
</div>