<% tab 'calendar' %>
<% title 'Select Restaurant' %>
<%= render partial: "shared/header/#{@ui_space}_header", locals: {show_cancel: true} %>
<div class="lp__scroll_containers comp__om_restaurants" data-appointment-id="<%= @appointment.id %>" data-initialize-stars="true" data-recommended-cuisines="<%= @appointment.recommended_cuisines.to_a%>">
  <div class="lp__fixed f12 no-gutters comp__om_form">
    <div class="justify-content-center pt-2">
      <div class="lp__faux_modal x-large pt-2">
        <div class="col-12 bb-1 pb-3">
          <div class="row">
            <div class="col-12 col-xl-8 mt-2 pr-0">
              <a class="ml-1" href="<%=current_office_calendars_path%>"><i class="fa fa-arrow-left pr-1"></i> BACK</a>
              <% if @appointment.internal? %>
                <div class="row col-12 pt-3 pr-0">
                  <div class="hidden-xs-down pl-1 pr-4 pt-1">
                    <%= orders_dinner_tray_icon %>
                  </div>
                  <div class="col-9 pr-0 pl-0">
                    <h3 class="ft-bold font-lg">Restaurants</h3>
                    <p class="mb-0">Please select a restaurant for delivery</p>
                  </div>
                </div>
              <% else %>
                <div class="row col-12 pt-3 pr-0">
                  <div class="hidden-xs-down pl-1 pr-4 pt-1">
                    <%= orders_dinner_tray_icon %>
                  </div>
                  <div class="col-9 pr-0 pl-0">
                    <h3 class="ft-bold font-lg">Exact Order Recommendation</h3>
                    <p class="mb-0">Please select the restaurant you would like the rep to bring food from</p>
                  </div>
                </div>              
              <% end %>
            </div>
          </div>
        </div>
        <div class="row m-0 bt-1">
          <div class="col-12 col-md-3 col-xl-2 comp__filters bbr-1 pl-0 order-row">
            <h3 class="ml-3 mr-3 mt-4 filter-h3">Filters</h3>
            <h3 class="ml-3 mr-3 mt-1 mb-3">Cuisine:</h3>
            <ul class="pl-2 pb-3">
              <% Cuisine.active.order("name ASC").each do |cuisine| %>
              <li>
                <a class="lp__filters_cuisine" href="#" id="cuisine_<%=cuisine.id%>" data-toggleable-cuisine=true data-value="<%= cuisine.id %>"><%= cuisine.name %></a>
              </li>
              <% end %>
            </ul> 
            <h3 class="ml-3 mr-3 mt-4 pb-1">Price Per Person:</h3>
            <ul class="pl-2 pb-3">
              <li>
                <a class="lp__filters_price" href="#" data-toggleable-price=true data-value="10">$10 or less</a>
              </li>
              <li>
                <a class="lp__filters_price" href="#" data-toggleable-price=true data-value="13">$13 or less</a>
              </li>
              <li>
                <a class="lp__filters_price" href="#" data-toggleable-price=true data-value="15">$15 or less</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-9 col-lg-9 col-xl-10">
            <div class="targ-restaurants">
              <%= render partial: 'office/appointments/components/filtered_restaurants', locals: {restaurants: @restaurants} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>