<div class="modal-body p-0 appointment-modal">
  <div class="container-fluid comp__om_appointments">
    <div class="row appointment-modal-body comp__om_form">
      <div class="col-12 text-center mb-3">
        <p class="mb-0 h5">Open Appointment</p>
      </div>
      <div class="col-12 mt-2 text-center p-0">
        <label class="ft-bold mr-3">Appointment Type: </label>
        <label class="form-check-label offices-label checked ft-bold">
          <input class="form-check-input" type="radio" id="external" name="appointment_type" value="external" checked>
          External
        </label>
        <label class="form-check-label providers-label ft-bold">
          <input class="form-check-input" type="radio" id="internal" name="appointment_type" value="internal">
          Internal
        </label>
      </div>
      <%= form_for @appointment, url: { controller: "appointments", action: "create" }, method: "post",  html: { class: "col-12 col-sm-10 col-md-11 col-lg-9 col-xl-11 ml-auto mr-auto pl-2 pr-2 pt-3", autocomplete: "off" } do |f| %>
        <%= lp_hidden_field(f, :appointment_slot_id) %>
        <%= lp_hidden_field(nil, :create_rep, false) %>
        <%= lp_hidden_field(nil, :internal_appointment, false) %>
        <%= lp_hidden_field(f, :appointment_on) %>
        <div class="col-12 row mt-3 pr-0 mr-0">
          <div class="pr-4 pt-1 hidden-xs-down">
            <%= slot_food_icon(@appointment.appointment_slot.slot_type) %>
          </div>
          <div class="col-10 col-sm-7 p-0">
            <h5 class="mt-2"><%=short_date(@appointment.appointment_on)%></h5>
            <p><%=@slot.name%> - <%=slot_time(@slot.starts_at(true))%></p>
          </div>
        </div>
        <div class="col-12 mt-3 pr-0 mr-0 row external-appointment">
          <div id="existing-rep" class="col-12 row">
            <div class="pr-4 pt-1 hidden-xs-down">
              <%= om_user_icon %>
            </div>
            <div class="col-10 col-sm-7 p-0">
              <div class="form-group col-12 p-0">
                <label class="form-control-label">Rep Name</label>
                <input type="text" id="appointment_sales_rep_id" placeholder="Select a rep" name="appointment[sales_rep_id]" data-reps="<%=@sales_reps%>">
              </div>
            </div>
            <%= lp_hidden_field(f, :appointment_type) %>
            <div class="col-12 pl-0">
              <a href="#" class="btn btn-link pl-0 lp__new_rep">+ Add a new sales rep</a>
            </div>
          </div>
          <div id="new-rep" class="col-12 row"  style="display: none;">
            <div class="pr-4 pt-1 hidden-xs-down">
              <%= om_user_icon %>
            </div>
            <div class="col-10 col-sm-7 p-0">
              <div class="form-group col-12 p-0">
                <input type="hidden" id="sales_rep_created_by_id" value="<%=current_user.id%>" name="sales_rep[created_by_id]">
                <label class="form-control-label">Rep First Name</label>
                <input type="text" class="form-control" id="sales_rep_first_name" name="sales_rep[first_name]"> 
              </div>
              <div class="form-group col-12 p-0">
                <label class="form-control-label">Rep Last Name</label>
                <input type="text" class="form-control" id="sales_rep_last_name" name="sales_rep[last_name]"> 
              </div>
              <div class="form-group col-12 p-0">
                <label class="form-control-label">Company</label>
                <input type="text" id="sales_rep_company_id" placeholder="Select a company" name="sales_rep[company_id]" data-companies="<%=@companies%>">
              </div>
              <div class="form-group col-12 p-0">
                <label class="form-control-label">Email</label>
                <input type="text" class="form-control" id="sales_rep_email_address" name="sales_rep[email_address]"> 
              </div>
              <div class="form-group col-12 p-0">
                <label class="form-control-label">Phone</label>
                <input type="text" class="form-control phone_number_input" id="sales_rep_phone_number" name="sales_rep[phone_number]"> 
              </div>
            </div>
            <div class="col-12 pl-0">
              <a href="#" class="btn btn-link pl-0 lp__existing_rep">- Select a Current sales rep</a>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3 row internal-appointment" style="display: none;">
          <div class="col-12 col-xl-11 pl-0">
            <div class="form-group col-12 p-0">
              <label class="form-control-label ft-bold">Appointment Title</label>
              <%= lp_text_field(f, :title, "none", nil, {class: 'form-control'}) %>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-10 ml-auto mr-auto mt-5 p-0">
          <button type="submit" class="btn btn-success btn-block" name="save" data-submit>Save Appointment</button>
          <a class="btn btn-outline-info btn-block" href="<%=exclude_office_appointments_path(appointment_slot_id: @appointment.appointment_slot_id, appointment_on: @appointment.appointment_on)%>" data-method="post">Exclude Appointment</a>
        </div>
      <%end %>
    </div>
  </div>
</div>
<script>
LPOmForm_Initializer();
LPOmAppointments_Initializer();
</script>