<% @restaurant_user.new_record? ? action = "create" : action = "update" %>
<%= form_for @restaurant_user, url: admin_restaurant_users_path(restaurant_id: @restaurant.id), action: action, method: :post, html: { class: "", autocomplete: "off" } do |f| %>

  <%= lp_hidden_field(f, :created_by_id) %>
  <%= lp_hidden_field(f, :restaurant_id) %>
  <% if params[:action] == 'registration' %>
    <%= lp_hidden_field(nil, :wizard, true) %>
  <% end %>
    <div class="col-12">
      <div class="row">
        <div class="col-10">
          <%= fields_for @restaurant_user.user do |web_login| %>
            <div class="form-group row form-group-tight col-12">
              <div class="col-4 lp_req">
                <%= lp_text_field(web_login, :first_name, "User First Name") %>
              </div>
              <div class="col-4 lp_req">
                <%= lp_text_field(web_login, :last_name, "User Last Name") %>
              </div>
              <div class="col-4">
                <%= lp_text_field(web_login, :job_title, "Job Title") %>
              </div>
            </div>

            <div class="form-group row form-group-tight col-12">
              <div class="col-4">
                <%= lp_text_field(web_login, :primary_phone, "User Phone Number", nil, {class: 'form-control form-control-sm phone_number_input'}) %>
                <p class="field_note">Number will be used for SMS messages where applicable.</p>
              </div>
              <div class="col-5 lp_req">
                <%= lp_email_field(web_login, :email, "Login Email") %>
                <p class="field_note hide-on-edit">After this user is created, a welcome invitation email will be automatically sent to the above address. Upon acceptance of the invite, the user will be prompted to create a password for their login.</p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-2 align-items-center pt-4">
          <div class="row col-12 text-right justify-content-end">
            <button type="button" class="btn btn-primary" data-submit-user aria-label="Create Restaurant User"><%= (@restaurant_user.new_record?) ? 'Add' : 'Save Changes' %></button>
          </div>
        </div>
      </div>
    </div>
<% end %>
