  <div class="row">
    <div class="col-12">
      <%= form_for @record, url: { action: (@record.new_record?) ? "create" : "update" }, html: { class: "new-menu-form", autocomplete: "off" } do |f| %>
        <%= lp_hidden_field(f, :created_by_user_id) %>
        <%= lp_hidden_field(f, :restaurant_id) %>
        <div class="form-group row form-group-tight align-items-center">
          <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2 lp_req">
            <%= lp_text_field(f, :name, "Menu Name") %>
            <p class="field_note">Ex: Breakfast, Lunch or Dinner</p>
          </div>
          <div class="col-sm-5 lp_req">
            <% if @record.new_record? %>
              <%= lp_timeframe_field(f, [:start_time, :end_time], "Menu Timeframe", [@record.start_time, @record.end_time]) %>
            <% else %>
              <%= lp_timeframe_field(f, [:start_time, :end_time], "Menu Timeframe", [@record.start_time(true), @record.end_time(true)]) %>
            <% end %>
            <p class="field_note">The hours during which this menu is available for order delivery.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% if !@record.new_record? %>
  <div class="row col-12">
    <div class="comp__content">

      <%= render partial: 'admin/shared/components/flash' %>

      <div class="row">
        <div class="col-12 mt-2 px-4">
          <p class="small">The below list includes items that are not already in the <strong><%= @record.name %></strong> menu and may be added to it.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-2">
          <%= render partial: 'admin/shared/components/tables/static_table',
                      locals: {
                        table_actions: [],
                        title: "All Available Items",
                        columns: ['name', 'description', {title: 'Category', column: 'category', helper: 'category_name'}],
                        model_class: 'MenuItem',
                        actions: [{title: 'Add', ajax_done_text: 'Item Added', ajax_method: 'post', ajax_path: add_item_admin_restaurant_menu_path(@restaurant, @record, {item_id: "<id>"}), button_class: 'btn btn-success btn-sm'}],
                        objects: @restaurant.other_menu_items_for(@record)
                      } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
