<h5 class="lp__table_header"><%= (local_assigns[:title]) ? title : '' %></h5>
<table class="comp__slot_table">
  <thead>
    <tr>
      <th>Mon <% if objects['monday'] && objects['monday'].count > 0 %><a data-popup=true data-popup-title="Copy Monday to..." href="<%= copy_admin_provider_slots_path(parent_object, {day: 'monday'}) %>" title="Copy timeframes to another day"><span class="oi oi-layers"></span></a><% end %></th>
      <th>Tue <% if objects['tuesday'] && objects['tuesday'].count > 0 %><a data-popup=true data-popup-title="Copy Tuesday to..." href="<%= copy_admin_provider_slots_path(parent_object, {day: 'tuesday'}) %>" title="Copy timeframes to another day"><span class="oi oi-layers"></span></a><% end %></th>
      <th>Wed <% if objects['wednesday'] && objects['wednesday'].count > 0 %><a data-popup=true data-popup-title="Copy Wednesday to..." href="<%= copy_admin_provider_slots_path(parent_object, {day: 'wednesday'}) %>" title="Copy timeframes to another day"><span class="oi oi-layers"></span></a><% end %></th>
      <th>Thu <% if objects['thursday'] && objects['thursday'].count > 0 %><a data-popup=true data-popup-title="Copy Thursday to..." href="<%= copy_admin_provider_slots_path(parent_object, {day: 'thursday'}) %>" title="Copy timeframes to another day"><span class="oi oi-layers"></span></a><% end %></th>
      <th>Fri <% if objects['friday'] && objects['friday'].count > 0 %><a data-popup=true data-popup-title="Copy Friday to..." href="<%= copy_admin_provider_slots_path(parent_object, {day: 'friday'}) %>" title="Copy timeframes to another day"><span class="oi oi-layers"></span></a><% end %></th>
      <th>Sat <% if objects['saturday'] && objects['saturday'].count > 0 %><a data-popup=true data-popup-title="Copy Saturday to..." href="<%= copy_admin_provider_slots_path(parent_object, {day: 'saturday'}) %>" title="Copy timeframes to another day"><span class="oi oi-layers"></span></a><% end %></th>
      <th>Sun <% if objects['sunday'] && objects['sunday'].count > 0 %><a data-popup=true data-popup-title="Copy Sunday to..." href="<%= copy_admin_provider_slots_path(parent_object, {day: 'sunday'}) %>" title="Copy timeframes to another day"><span class="oi oi-layers"></span></a><% end %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% objects.each do |slot_day, slots| %>
        <td>
          <% slots.each do |s| %>
            <p class="lp__slot">
              <span class="time"><%= style_slot_time(s.starts_at, s.ends_at) %></span>
              <span class="actions">
                <a href="<%= edit_admin_provider_slot_path(parent_object, s) %>">Edit</a>
              </span>
            </p>
          <% end %>

          <a class="btn btn-secondary btn-sm lp__add_slot" href="<%= new_admin_provider_slot_path(parent_object, {day: slot_day}) %>">New Timeframe</a>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
