<% tab 'overview' %>

<%= render partial: 'admin/shared/components/details/back', locals: { url: session[:my_previous_url] } %> <!--admin_offices_path() } %>-->

<div class="comp__section-header col-sm-9 offset-sm-3 col-md-10 offset-md-2">
  <div class="row">
    <div class="col-8 px-4">
      <h2 class="lp__light"><%= @record.name %> <span class="lp__subheader text-danger"><%= "Inactive" unless @record.activated_at %></span></h2>
      <% if @record.private__flag %>
        <div class="lp__notice-badges"><span class="badge badge-pill badge-warning">Private</span></div>
      <% end %>
    </div>
    <div class="col-4 px-4 text-right">
      <div class="btn-toolbar justify-content-end mt-3" role="toolbar" aria-label="Toolbar with button groups">
        <% if @record.private__flag %>
          <a href="<%= edit_admin_office_path(@record) %>" class="btn btn-secondary btn-sm mr-2">Convert Office</a>
        <% end %>
        <% unless @record.activated_at && !@record.private__flag %>
          <a data-confirm-method="post" href="<%= activate_admin_office_path(@record) %>" data-confirm-check="Are you sure you want to activate this office?" class="btn btn-success btn-sm mr-2">Activate</a>
        <% end %>
        <a href="<%= edit_admin_office_path(@record) %>" class="btn btn-primary btn-sm mr-2">Edit</a>
        <% if @manager && @manager.entity && @manager.active? && (@manager.confirmed_at || @manager.invitation_accepted_at) %>
          <a data-method="post" href="<%= impersonate_admin_impersonation_index_path(user_id: @manager) %>" class="btn btn-primary btn-sm mr-2">Impersonate</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="comp__content <%= (@record.private__flag) ? 'extended' : '' %>">
  <% if @record.private__flag %>
    <%= render partial: 'admin/shared/components/details/menu',
                locals: {
                  menu_items: [
                    {title: 'Overview', path: admin_office_path(@record), active_tab: 'overview'},
                    {title: 'Providers & Staff', path: admin_office_providers_path(@record), active_tab: 'providers'},
                    {title: 'Policies', path: admin_office_policies_path(@record), active_tab: 'policies'},
                  ]
                } %>
  <% else %>
    <%= render partial: 'admin/shared/components/details/menu',
                locals: {
                  menu_items: [
                    {title: 'Overview', path: admin_office_path(@record), active_tab: 'overview'},
                    {title: 'Appointments', path: admin_office_appointments_path(@record), active_tab: 'appointments'},
                    {title: 'Slots', path: admin_office_slots_path(@record), active_tab: 'slots'},
                    {title: 'Providers & Staff', path: admin_office_providers_path(@record), active_tab: 'providers'},
                    {title: 'Policies', path: admin_office_policies_path(@record), active_tab: 'policies'},
                  ]
                } %>
  <% end %>
  <%= render partial: 'admin/shared/components/flash' %>

  <!-- Record Notices (if any) -->

  <% if @record.activation_notices.count > 0 %>
    <div class="row">
      <div class="col-12 px-3 mb-0">
        <div class="alert alert-danger">
          <p class="small"><strong>In order to activate this office you must fix the following issues:</strong></p>
          <ul style='margin-bottom: 0px;'>
          <% @record.activation_notices.each do |notice| %>

              <li><span class="small"><%= notice[:message] %> <%= (notice[:relatable]) ? "<a class='text-primary pl-3 small' href='#{relatable_notice_path(notice[:relatable])}'>View Details</a>".html_safe : '' %></span></li>

          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <% if @record.notices.count > 0 %>
    <div class="row">
      <div class="col-12 px-3 mb-2">
        <% @record.notices.each do |notice| %>
          <div class="alert alert-warning">
            <p class="text-warning small"><span class="oi oi-target"></span> <%= notice[:message] %> <%= (notice[:relatable]) ? "<a class='text-primary pl-3 small' href='#{relatable_notice_path(notice[:relatable])}'>View Details</a>".html_safe : '' %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- End Record notices -->

  <div class="row">
      <%= render partial: 'admin/shared/components/details/show_row',
                  locals: {
                    object: @record,
                    fields: [
                      {'display_location' => {title: 'Address', w: 4}},
                      {'total_staff_count' => {title: '# of Staff', w: 3}},
                      {'appointments_until' => {title: 'Calendar Open Until', helper: 'simple_date', w: 4}},
                      {'creating_sales_rep_name' => {title: 'Managed By', w: 4, hide_on_nil: true}},
                    ]
                  } %>

  </div>

  <div class="row">
    <div class="col-8 mt-2">
      <%= render partial: 'admin/shared/components/tables/static_table',
            locals: {
              table_actions: [{name: 'Add Contact', url: new_admin_office_contact_path(@record)}],
              actions: [{title: 'Edit', path: edit_admin_office_contact_path(@record, "<id>"), button_class: 'btn btn-primary btn-sm'},{title: 'Delete', context: :confirm, confirm_message: "Are you sure you want to delete this Office Contact?", path: delete_admin_office_contact_path(@record, "<id>"), button_class: 'btn btn-danger btn-sm'}],
              title: 'Office Contacts',
              columns: ['display_name', {title: 'Phone', column: 'phone', helper: 'format_phone_number_string'}, 'email', 'primary'],
              link_columns: {display_name: 'id'},
              model_class: 'OfficePoc',
              objects: @record.office_pocs.where(:status => 'active')
            } %>
    </div>
    <div class="col-4 mt-2">
      <div class="row">
        <div class="col-12">
        <%= render partial: 'admin/shared/components/tables/static_table',
                      locals: {
                        table_actions: [{name: 'Add User', url: new_admin_office_user_path(@record)}],
                        title: 'Office Users',
                        columns: ['id', 'display_name'],
                        link_columns: {display_name: 'id'},
                        model_class: 'User',
                        objects: @record.users.where(:status => 'active')
                      } %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mt-2">
      <div class="row">
        <div class="col-12 mt-2">
          <%= render partial: 'admin/shared/components/tables/static_table',
                      locals: {
                        title: 'Upcoming & Recent Appointments',
                        link_columns: {appointment_time_in_zone: 'id'},
                        columns: ['id', 'sales_rep.display_name', {title: 'Appointment', column: 'appointment_time_in_zone', helper: 'long_date'}, {title: 'Slot', column: 'slot_type'}, {title: 'Food', column: 'food_column'}],
                        model_class: 'Appointment',
                        objects: @record.appointments.future.where.not(status: ['inactive']).sort_by{|appt| appt.appointment_time_in_zone}
                      } %>
        </div>
      </div>
    </div>
    <div class="col-4 mt-2">
      <div class="row">
        <div class="col-12 mt-2">
        <%= render partial: 'admin/shared/components/tables/static_table',
                      locals: {
                        table_actions: [{name: 'Add Provider', url: new_admin_office_provider_path(@record)}],
                        title: 'Providers',
                        columns: ['id', 'display_name'],
                        link_columns: {display_name: ['id', {office_id: @record.id}]},
                        model_class: 'Provider',
                        objects: @record.providers.where(:status => 'active')
                      } %>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-2">
        <%= render partial: 'admin/shared/components/tables/static_table',
            locals: {
              table_actions: [{name: 'Add Rep', url: new_admin_office_sales_rep_path(@record)}],
              title: 'Related Sales Reps',
              columns: ['id', 'display_name'],
              link_columns: {display_name: 'id'},
              model_class: 'SalesRep',
              objects: @record.sales_reps.where(:status => 'active')
            } %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 px-4">
      <h5 class="lp__section_header">Other Actions</h5>
      <ul class="lp__actions">

        <% if (@record.deactivated_at) && (!@record.activated_at || @record.deactivated_at > @record.activated_at) %>
          <li><a class="text-primary" data-confirm-method="post" href="<%= activate_admin_office_path(@record) %>" data-confirm-check="Are you sure you want to re-activate this office?">Re-activate Office</a></li>
        <% elsif (@record.activated_at) && (!@record.deactivated_at || @record.activated_at > @record.deactivated_at) %>
          <li><a class="text-danger" data-confirm-method="post" href="<%= deactivate_admin_office_path(@record) %>" data-confirm-check="Are you sure you want to deactivate this office?">Deactivate Office</a></li>
        <% end %>
        <li></q><a class="text-danger" data-confirm-method="post" href="<%= delete_admin_office_path(@record) %>" data-confirm-check="Are you sure you want to delete this office? They will be removed from the system and only available in historical reporting where applicable.">Delete Office</a></li>
      </ul>
    </div>
  </div>

</div>
