<%= form_for @record, url: { action: (@record.new_record?) ? "create" : "update" }, html: { class: "", autocomplete: "off" } do |f| %>

  <%= lp_hidden_field(f, :created_by_id) %>
  <%= lp_hidden_field(f, :office_id) %>

  <div class="row">
    <div class="col-8">
      <div class="form-group row form-group-tight">
        <div class="col-3 lp_req">
          <%= lp_text_field(f, :first_name, "Contact First Name") %>
        </div>
        <div class="col-5 lp_req">
          <%= lp_text_field(f, :last_name, "Contact Last Name") %>
        </div>
        <div class="col-3">
          <%= lp_text_field(f, :title, "Job Title") %>
        </div>
      </div>

      <div class="form-group row form-group-tight">
        <div class="col-4">
          <%= lp_text_field(f, :phone, "Phone Number", nil, {class: "form-control form-control-sm phone_number_input"}) %>
        </div>
        <div class="col-4">
          <%= lp_text_field(f, :email, "Email") %>
        </div>
      </div>
      <div class="form-group row form-group-tight">
        <div class="col-sm-4">
          <%= lp_check_field_inline(f, :primary, "Set as Primary", @record.new_record? ? '0' : @record.primary) %>
        </div>
      </div>
    </div>
  </div>


<% end %>
