<% if @restaurant.bank_accounts.count == 0 %>
  <% @bank_account.new_record? ? action = "create" : action = "update" %>
  <%= form_for @bank_account, url: admin_restaurant_pay_methods_path(restaurant_id: @restaurant.id), action: action, method: :post, html: { class: "", autocomplete: "off" } do |f| %>

    <%= lp_hidden_field(f, :created_by_id) %>
    <%= lp_hidden_field(f, :restaurant_id) %>
    <% if params[:action] == 'registration' %>
      <%= lp_hidden_field(nil, :wizard, true) %>
    <% end %>

    <div id="bank-account-setup" class="col-12" style="<%= 'display: none;'  if @restaurant.bank_accounts.count == 1 %>">
      <div class="row">
        <div class="col-10">
          <h4 class="pt-3">Account Information</h4>

          <div class="form-group row form-group-tight">
            <div class="col-sm-4 lp_req">
              <%= lp_text_field(f, :bank_name, "Bank Name") %>
            </div>
            <div class="col-sm-3 lp_req">
              <%= lp_select_field(f, :account_type, "Account Type", selectable_enum(BankAccount.account_types)) %>
            </div>
          </div>

          <div class="form-group row form-group-tight">
            <div class="col-sm-3 lp_req">
              <%= lp_text_field(f, :routing_number, "Routing Number") %>
            </div>
          </div>

          <div class="form-group row form-group-tight">
            <div class="col-sm-5 lp_req">
              <%= lp_text_field(f, :account_number, "Account Number") %>
            </div>
          </div>
        </div>
        <div class="col-2 align-items-center">
          <div class="row col-12 text-right justify-content-end">
            <button type="button" class="btn btn-primary" data-submit-bank-account aria-label="Create Bank Account"><%= @bank_account.new_record? ? 'Add' : 'Save' %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_for @restaurant, url: activate_admin_restaurant_path(@restaurant), action: action, method: :post, html: { class: "", autocomplete: "off" } do |f| %>
    <%= lp_hidden_field(nil, :wizard, true) %>
  <% end %>
<% end %>
