<% tab 'calendar' %>
<% title 'Order Food' %>

<%= render partial: "shared/header/#{@ui_space}_header", locals: {show_cancel: true} %>

<div class="lp__scroll_containers">
  <div class="lp__fixed f12 no-gutters">
    <div class="row justify-content-center pt-3 comp__om_restaurants">
      <div class="lp__faux_modal large comp__om_form">
        <% if @order.authorized? && !session[:impersonator_id].present?%>
          <a class="lp__faux_model_back" href="<%= select_food_office_appointment_path(@order.appointment, restaurant_id: @order.appointment.restaurant) %>"><i class="fa fa-arrow-left pr-1"></i> BACK</a>
        <% else %>
          <a class="lp__faux_model_back" href="<%= payment_office_order_path(@order) %>"><i class="fa fa-arrow-left pr-1"></i> BACK</a>
        <% end %>
        <p class="h5 title"><strong>Confirm Order</strong></p>
        <hr />

        <!-- Interior Content -->
        <%= form_for @order, method: :post,  url: complete_order_office_order_path(@order) do |f| %>
        <input type="hidden" name="order[status]" id="order_rep_status" value="active">
        <div class="row pr-4 pl-4">
          <div class="col-12 col-md-6">
            <div class="card mb-2">
              <div class="card-header">Order Summary</div>
              <div class="card-block">
                <!-- receipt header -->
                <div class="row">
                  <span class="col-10 text-uppercase mb-2">
                    <strong><%= @order.restaurant.name %></strong>
                  </span>
                </div>
                <p class="mb-1">Order Serves: <%=@order.people_served%> people</p>
                <!-- receipt item loop -->
                <% @line_items.each do |li| %>
                  <% next if li.parent_line_item %>
                  <div class="row">
                    <div class="col-12 mb-3">
                      <p class="mb-0"><strong><%= li.orderable_name %></strong><span class="pull-right"><%= precise_currency_value(li.cost_with_sub_items)%></span></p>
                      <p class="mb-0">Quantity: <%= li.quantity %></p>
                      <% li.sub_line_items.each do |sli| %>
                        <p class="pl-3 mb-0">
                          <%= sli.orderable_name %>
                          <% if sli.cost_cents.to_i > 0 %>
                            <%= "(#{precise_currency_value(sli.cost_cents)})" %>
                          <% end %>
                        </p>
                      <% end %>
                      <% if li.notes.present? %>
                        <p class="pl-3 mb-0"><span class="lp__order_item_notes"><%= li.notes %></span></p>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">      
                      <a data-modal=true data-modal-title="" href="<%= edit_item_office_order_path(@order, line_item_id: li.id) %>" class="btn btn-link pl-0 pr-0">EDIT</a>
                      <a class="btn btn-link pl-0 pr-0 pull-right remove_line_item" href="<%= remove_item_office_order_path(@order, line_item_id: li.id) %>">REMOVE</a>
                    </div>
                  </div>
                  <hr>
                <% end %>
                <!-- total -->
                <table class="text-right col-12 text-uppercase ft-bold">
                  <tr class="row">
                    <td class="col-8">Subtotal:</td>
                    <td class="col-4" data-value="<%=@order.calced_subtotal_cents(@line_items)%>" id="order_subtotal_field"><%= precise_currency_value(@order.calced_subtotal_cents(@line_items))%></td>
                  </tr>
                  <tr class="row">
                    <td class="col-8">Delivery Fee:</td>
                    <td class="col-4" data-value="<%=@order.delivery_cost_cents%>" id="order_delivery_fee_field"><%= precise_currency_value(@order.delivery_cost_cents)%></td>
                  </tr>
                  <tr class="row">
                    <td class="col-8">Tax:</td>
                    <td class="col-4" data-value="<%=@order.calced_tax_cents(@line_items)%>" id="order_tax_field">
                      <%= precise_currency_value(@order.calced_tax_cents(@line_items))%></td></td>
                  </tr>
                  <tr class="bb-1 row">
                    <td class="col-7 col-sm-8">Driver Tip:</td>
                    <td class="pb-3 col-5 col-sm-2 col-md-4 col-lg-3 ml-auto">
                      <%= lp_number_currency_field(f, :tip_cents, "none", @order.tip_cents > 0 ? @order.tip_cents : @order.calc_tip(current_user, @cached_items), {hide_label: true, id: 'order_tip_field'}) %>
                    </td>
                  </tr>
                  <tr class="row">
                    <td class="col-8">Total Charge:</td>
                    <td class="col-4" id="order_total_charge"><%= precise_currency_value(@order.calced_total_cents(@line_items, current_user))%></td>
                  </tr>
                  <% if @order.authorized? %>
                    <tr class="row">
                      <td class="col-8 text-danger">Total Not To Exceed:</td>
                      <td class="col-4 text-danger" id="order_total_charge"><%= precise_currency_value(@order.authorized_amount_cents)%></td>
                    </tr>
                    <% if session[:impersonator_id].present? %>
                      <tr class="row">
                        <td class="col-12 text-danger font-sm">*Exceeding the above amount will refund the current authorization charge and create a new authorization charge.</td>
                      </tr>
                    <% end %>
                  <% end %>
                </table>
              </div>
            </div>            
            <div class="card mb-2">
              <div class="card-block">
                <%= f.text_area :office_notes, value: f.object.office_notes || @office.delivery_instructions, placeholder: 'Delivery instructions, allergies and additional information', class: 'form-control text-sm', style: "resize: none;" %>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card mb-2">
              <div class="card-header">Delivery Info</div>
              <div class="card-block">
                <p class="text-sm text-bold mb-0"><%= @order.office.name %></p>
                <p class="text-sm"><%= @order.office.display_location_single %></p>

                <p class="text-sm mb-0"><%= short_date(@order.appointment.appointment_on) %></p>
                <% if @order.appointment.appointment_slot %>
                  <p class="text-sm mb-0"><%= @order.appointment.description %> - <%= slot_time(@order.appointment.starts_at(true)) %></p> 
                <% else %>
                  <p class="text-sm mb-0"><%= slot_time(@order.appointment.starts_at(true)) %></p> 
                <% end %>
              </div>
            </div>

            <div class="card mb-2">
              <div class="card-header">Payment Info</div>
              <div class="card-block">
                <% if !@order.authorized? %>
                  <a href="<%=payment_office_order_path(@order)%>" class="btn btn-link btn-sm btn-text-right btn-right">Edit</a>
                <% end %>
                <p class="text-sm text-bold mb-0"><%=@order.payment_method.display_summary if @order.payment_method %></p>
                <p class="text-sm"><%= single_line_payment_address(@order.payment_method) if @order.payment_method%></p>

              </div>
            </div>
            <div class="col-12 col-sm-8 ml-auto mr-auto mt-4">
              <p class="text-center text-sm">This order will be delivered 15 minutes prior to start time.</p>
              <button type="submit" class="btn btn-sm btn-primary btn-block" data-submit>Confirm Order</button>
              <p class="text-center text-sm mt-3">By placing order you are agreeing to LunchPro's <a href="">terms of service</a>.</p>
            </div>
          </div>
        </div>
        <% end %>
        <!-- // Interior Content -->

      </div>
    </div>
  </div>
</div>
