<% tab 'order history' %>
<% title 'Order History' %>
<%= render partial: "shared/header/#{@ui_space}_header", locals: {restaurant: @restaurant} %>
<div id="global-content-wrapper">
  <div id="history-layout" class="row no-gutters comp__restaurant_order_detail" data-comp-order-load-id="<%= @order.present? ? @order.id : nil %>">
    <div id="order-detail" class="col-md-10 col-lg-8 b-1 p-5 m-3 mx-auto">
      <% if @order %>
        <hr class="m-0">
        <div class="col-12">
          <% if @order.status == 'inactive'%>
            <div class="btn-group m-auto d-inline comp__restaurant_form row col-12 text-center" data-nested-attributes="order_appointment_attributes_">
              <div class="h4 ft-bold"><%= "This order has been canceled".upcase %></div>
            </div>
          <% elsif @order.completed? %>
            <div class="btn-group m-auto d-inline comp__restaurant_form row col-12 text-center" data-nested-attributes="order_appointment_attributes_">
              <div class="h4 ft-bold"><%= "This order has been completed".upcase %></div>
            </div>
          <% elsif @order.active? %>
            <div class="btn-group m-auto d-inline row col-12 text-center" data-nested-attributes="order_appointment_attributes_">
            <% if @edit == 'true' %>
              <div class="h4 ft-bold pb-2"><%= "This order has been updated.".upcase %></div>
            <% end %>
              <%= form_for @order, url: update_confirmation_restaurant_order_path(@order), method: :post, html: { class: "", autocomplete: "off", onsubmit: "return false;" } do |f| %>
                <% if !@order.confirmed? %>
                  <%= f.fields_for :appointment, f.object.appointment do |app| %>
                    <%= lp_hidden_field(nil, :confirm, "confirm_for_restaurant!") %>
                    <input type="button" class="btn btn-success m-3 confirm-button" value="confirm this order" name="confirm" data-submit>
                  <% end %>
                <% end %>
                <% if @order.restaurant_cancellable? %>
                  <button data-confirm-method="post" href="<%= update_confirmation_restaurant_order_path(@order) %>" data-confirm-check="Are you sure you want to decline this order? This cannot be reversed." class="btn btn-outline-info m-3" value="decline" type="submit" name="status">
                    Decline this order
                  </button>
                <% end %>
              <% end %>
            </div>
          <% elsif @order.confirmed? && @order.order_reviews.any? %>
            <div class="btn-group m-auto d-inline row col-12 text-center">
              <div class="h4 ft-bold"><%= "Feedback has been given.".upcase %></div>
            </div>
          <% end %>
          <div class="tab-pane with-cards" id="about" role="tabpanel">
            <div class="card-columns mb-3 row">
              <div class="col-12 col-lg-5">
                <div class="card">
                  <div class="card-header">Order Summary #<%=@order.order_number %></div>
                  <div class="card-block">
                    <!-- receipt header -->
                    <p class="mb-1">Order Served: <%=@order.people_served%> people</p>
                    <!-- receipt item loop -->
                    <% @order.line_items.each do |item| %>
                      <table width="100%">
                        <thead>
                          <tr>
                            <th><%= item.orderable_name %></th>
                            <th class="text-right"><%= precise_currency_value(item.cost_cents) %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Quantity: <%= item.quantity %></td>
                          </tr>
                          <tr>
                            <td>
                              <% item.option_lines.each do |option| %>
                                <p class="ml-3 mb-1"><%= option[:name] %></p>
                              <% end %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                    <% end %>
                    <!-- total -->
                    <table class="text-right col-12 text-uppercase ft-bold hidden-lg-down">
                      <tr class="row">
                        <td class="col-12 col-xl-8">Subtotal:</td>
                        <td class="col-12 col-xl-4"><%= precise_currency_value(@order.subtotal_cents_for_restaurant_manager)%></td>
                      </tr>
                      <tr class="row">
                        <td class="col-12 col-xl-8">Delivery Fee:</td>
                        <td class="col-12 col-xl-4"><%= precise_currency_value(@order.delivery_cost_cents)%></td>
                      </tr>
                      <tr class="bt-1 row">
                        <td class="col-12 col-xl-8">Estimated Driver Tip:</td>
                        <td class="col-12 col-xl-4"><%= precise_currency_value(@order.estimated_tip_cents)%></td>
                      </tr>
                      <tr class="row">
                        <td class="col-12 col-xl-8">Total:</td>
                        <td class="col-12 col-xl-4"><%= precise_currency_value(@order.total_cents_for_restaurant_manager)%></td>
                      </tr>
                    </table>
                    <table class="text-right col-12 text-uppercase ft-bold hidden-xl-up">
                      <tr class="row">
                        <td class="col-8 col-lg-12">Subtotal:</td>
                        <td class="col-4 col-lg-12"><%= precise_currency_value(@order.subtotal_cents_for_restaurant_manager)%></td>
                      </tr>
                      <tr class="row">
                        <td class="col-8 col-lg-12">Delivery Fee:</td>
                        <td class="col-4 col-lg-12"><%= precise_currency_value(@order.delivery_cost_cents)%></td>
                      </tr>
                      <tr class="bt-1 row">
                        <td class="col-8 col-lg-12">Estimated Driver Tip:</td>
                        <td class="pb-3 col-4 col-lg-12"><%= precise_currency_value(@order.estimated_tip_cents)%></td>
                      </tr>
                      <tr class="row">
                        <td class="col-8 col-lg-12">Total:</td>
                        <td class="col-4 col-lg-12"><%= precise_currency_value(@order.total_cents_for_restaurant_manager)%></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <% if @order.sales_rep.present? %>
                  <div class="card">
                    <div class="card-block">
                      <span>
                        <%= @order.rep_notes || "The Representative did not leave any notes." %>
                      </span>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-12 col-lg-7">
                <div class="col-12 p-0">
                  <!-- Card only shows when the current order has been set to deleted/canceled -->
                  <% if @order.status == 'inactive' %>
                    <div class="card">
                      <div class="card-header">Cancelation Information</div>
                      <div class="card-block">
                        <% if @order.appointment.cancelled_at %>
                          <p>This order was canceled at <%= @order.appointment.cancelled_at %> by the <%= @cancelled_by %></p>
                          <% if @order.appointment.cancel_reason %>
                            <p>This order was canceled for the following reason(s): <%= @order.appointment.cancel_reason %>
                          <% else %>
                            <p>No cancelation reason was given</p>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <div class="card">
                    <div class="card-header">Order Information</div>
                    <div class="card-block">
                      <div class="vertical-nav-li-header appointments-header" data-date="<%= Date.tomorrow.strftime("%F") %>">
                        <%= @order.delivery_date %>
                      </div>
                          <div class="targ__slot">
                            <div class="order-nav-li-content row no-gutters align-items-center pl-3 pr-3" data-comp-detail-id="<%@order.id%>">
                              <div class="pr-4 pt-1 hidden-md-down">
                                <%= office_detail_icon %>
                              </div>
                              <div class="col-12 col-lg-8">
                                <div class="h5">
                                  <%= @order.office.name %>
                                </div>
                                <div>
                                  <%= @order.office.display_location_single %>
                                </div>
                                <div>
                                  <%= format_phone_number_string(@order.office.phone) %>
                                </div>
                              </div>
                              <div class="order-nav-li-content row no-gutters align-items-center pt-1 pl-2 pr-3 col-12">
                                <div class="pr-4 pt-1 hidden-md-down lp__profile_image">
                                  <%= om_user_icon %>
                                </div>
                                <div class="col-12 col-lg-8">
                                  <div class="h5">
                                    <%= (@order.present? && @order.office.present? && @order.office.manager.present?) ? @order.office.manager.display_name : "(Manager name not found)"  %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <!-- Link to modal or addition of inline form for Driver info -->
                  <div class="card comp__restaurant_form" data-nested-attributes="restaurant_orders_attributes_">
                    <div class="card-header">Delivery Driver Information</div>
                    <div class="card-block justify-content-center">
                      <% if @order.driver_phone && @order.driver_name %>
                        <div class="col-12 row">
                          <div class="col-md-3 col-xl-2">
                            <%= truck_icon %>
                          </div>
                          <div class="col-6 col-xl-6 ml-3">
                            <div class="row">
                              <%= @order.driver_name %>
                            </div>
                            <div class="row">
                              <%= format_phone_number_string(@order.driver_phone) %>
                            </div>
                          </div>
                          <div class="col-2 col-xl-3 p-0 m-0 text-right">
                            <a class="btn btn-link p-0 text-right" data-modal-size="sm" data-modal="true" href="<%=driver_info_restaurant_orders_path(@order)%>" data-modal-title="Driver Info">Edit</a>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-12 row add-driver justify-content-center">
                          <button class="btn btn-success" data-modal-size="sm" data-modal="true" href="<%=driver_info_restaurant_orders_path(@order)%>" data-modal-title="Driver Info">Add Driver Info</button>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <!--  -->
                  <div class="card transparent">
                    <div class="btn-group m-auto d-inline">
                      <a href="<%= download_restaurant_order_path(@order, :format => 'pdf') %>" data-method="post" class="btn btn-link" target="_blank"><i class="fa fa-lg fa-print"></i>&nbsp; PDF</a>
                      <a href="<%= download_restaurant_order_path(@order, :format => 'csv') %>" data-method="post" class="btn btn-link"><i class="fa fa-lg fa-download"></i>&nbsp; CSV</a>
                    </div>
                    <% if !@order.restaurant_cancellable? && @order.active? %>
                      <div class="card transparent justify-content-center">
                        <p class="ft-bold text-center">Need to cancel this order?</p>
                        <p class="text-center">Please call LunchPro</p>
                        <p class="text-center"><%= format_phone_number_string("8555862477") %><p>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <a class="lp__faux_model_back" href="<%= restaurant_orders_path %>"><i class="fa fa-arrow-left pr-1"></i> GO TO ORDERS</a>
        <div class="col-12 p-0 mt-5">
          <h1 class="ft-bold text-center pt-5">Order is no longer available!</h1>
          <h5 class="text-center mt-3">Please contact us if you have any questions or concerns!</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
