<% tab 'appointments' %>

<%= render partial: 'admin/shared/components/details/back', locals: { url: session[:my_previous_url] } %> <!--admin_office_path(@office) } %>-->

<div class="comp__section-header col-sm-9 offset-sm-3 col-md-10 offset-md-2">
  <div class="row">
    <div class="col-12 px-4">
      <h2 class="lp__light"><%= @office.name %></h2>
      <% if @office.private__flag %>
        <div class="lp__notice-badges"><span class="badge badge-pill badge-warning">Private</span></div>
      <% end %>
    </div>
  </div>
</div>

<div class="comp__content <%= (@office.private__flag) ? 'extended' : '' %>">
  <%= render partial: 'admin/shared/components/details/menu',
              locals: {
                menu_items: [
                  {title: 'Overview', path: admin_office_path(@office), active_tab: 'overview'},
                  {title: 'Appointments', path: admin_office_appointments_path(@office), active_tab: 'appointments'},
                  {title: 'Slots', path: admin_office_slots_path(@office), active_tab: 'slots'},
                  {title: 'Providers & Staff', path: admin_office_providers_path(@office), active_tab: 'providers'},
                  {title: 'Policies', path: admin_office_policies_path(@office), active_tab: 'policies'},
                ]
              } %>

  <%= render partial: 'admin/shared/components/flash' %>

  <div class="row">
    <div class="col-12 mt-2">
      <div class="row">
        <div class="col-12 mt-2 comp__admin_appointment_list" data-reload-url="<%= list_admin_office_appointments_path(@office) %>">
          <%= render partial: 'admin/shared/components/tables/appointments',
                      locals: {
                        title: 'Appointments',
                        slot_manager: Views::OfficeAppointments.new(@office, calendar_range(Time.zone.now.to_date.beginning_of_week), current_user),
                        parent_object: @office
                      } %>
        </div>
      </div>
    </div>
  </div>
</div>
