<% tab 'overview' %>

<%= render partial: 'admin/shared/components/details/back', locals: { url: admin_users_path } %>

<div class="comp__section-header col-sm-9 offset-sm-3 col-md-10 offset-md-2">
  <div class="row">
    <div class="col-6 px-4">
      <h2 class="lp__light"><%= @record.display_name %> <span class="lp__subheader text-danger"><%= "Inactive" unless !@record.deactivated_at %></span></h2>
    </div>
  </div>
</div>

<div class="comp__content">
    <div class="row justify-content-center comp__form" id="reward_points_form">
      <div class="col-12 justify-content-center">
        <%= form_for @record, url: update_password_admin_users_path(id: @record.id), method: :patch, html: { class: "new-menu-form", autocomplete: "off" } do |f| %>
        <div class="form-group row">
          <div class="col-sm-4 col-md-3 col-lg-5 col-xl-8 lp_req">
            <%= lp_text_field(f, :password, "New Password") %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4 col-md-3 col-lg-5 col-xl-8 lp_req">
            <%= lp_text_field(f, :password_confirmation, "New Password Confirmation") %>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" data-submit class="btn btn-primary">Save</button>
        </div>
        <% end %>
      </div>
    </div>
</div>