<nav class="col-sm-3 col-md-2 hidden-xs-down sidebar">
  <div id="menuwrapper">
    <h1>LunchPro</h1>
    <div class="h5" style="color: #fff"><%=current_user.display_name%></div>
    <ul class="nav-menu">
        <li><a href="#" class="nav-first-level">Dashboard</a>
            <ul>
                <li><a href="#" class="nav-second-level">Current Activity</a>
                    <ul>
                        <li><a href="#">Dallas</a></li>
                        <li><a href="#">Austin</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-second-level">Snap Shot</a></li>
            </ul>
        </li>
        <li>
          <a data-slide-in href="<%= recent_admin_user_notifications_path() %>" data-title="Recent Notifications" class="nav-first-level">
            Notifications
            <span class="targ-badge-count badge badge-pill badge-warning <%= (current_user.admin_view.recent_notifications.count > 0) ? 'show-badge' : 'hide-badge' %>"><%= current_user.admin_view.recent_notifications.count %></span>
          </a>
        </li>
        <li><a href="#" class="nav-first-level">Sales Reps</a>
            <ul>
                <li><a href="#" class="nav-second-level">Reps</a></li>
                <li><a href="#" class="nav-second-level">Rewards</a></li>
            </ul>
        </li>
        <li><a href="#" class="nav-first-level">Offices</a>
          <ul>
              <li><a href="#" class="nav-second-level">Office</a></li>
              <li><a href="#" class="nav-second-level">Office Users</a></li>
          </ul>
        </li>
        <li><a href="#" class="nav-first-level">Restaurants</a>
          <ul>
              <li><a href="#" class="nav-second-level">Restaurant</a></li>
              <li><a href="#" class="nav-second-level">Restaurant Users</a></li>
              <li><a href="#" class="nav-second-level">Restaurant Payout Report</a></li>
          </ul>
        </li>
        <li><a href="#" class="nav-first-level">Appointments</a></li>
        <li><a href="#" class="nav-first-level">Orders</a>
          <ul>
              <li><a href="#" class="nav-second-level">Upcoming Orders</a></li>
              <li><a href="#" class="nav-second-level">Order Reviews</a></li>
          </ul>
        </li>
        <li><a href="#" class="nav-first-level">Tools & Settings</a>
          <ul>
              <li><a href="#" class="nav-second-level">LunchPads</a></li>
              <li><a href="#" class="nav-second-level">Notifications Templates</a></li>
              <li><a href="#" class="nav-second-level">Tools & Setup</a></li>
          </ul>
        </li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
    </ul>
  </div>
  
</nav>

<style>
/* We remove the margin, padding, and list style of UL and LI components */
#menuwrapper ul, #menuwrapper ul li{
    list-style:none;
}

/* We apply background color and border bottom white and width to 150px */
#menuwrapper ul li{
    width:120px;
    cursor:pointer;
}

/* We apply the background hover color when user hover the mouse over of the li component */
#menuwrapper ul li:hover{
    position:relative;
}

#menuwrapper ul li a.nav-first-level{
  padding:10px 0 10px 15px;
}
#menuwrapper ul li a.nav-second-level{
  padding:10px 0 10px 10px;
}
/* We apply the link style */
#menuwrapper ul li a{    
    display:inline-block;
    text-decoration:none;
    width: 100%;
}

/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menuwrapper ul li ul{
    position:absolute;
    display:none;
}

/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
#menuwrapper ul li:hover ul{
    left:90px;
    top:0px;
    display:block;
}

/* we apply different background color to 2nd level menu items*/
#menuwrapper ul li ul li{
}

/* We change the background color for the level 2 submenu when hovering the menu */
#menuwrapper ul li:hover ul li:hover{

    background: gray;
}

/* We style the color of level 2 links */
#menuwrapper ul li ul li a{
    display:inline-block;
    width:120px;
}

/**** THIRD LEVEL MENU ****/
/* We need to hide the 3rd menu, when hovering the first level menu */
#menuwrapper ul li:hover ul li ul{
    position:absolute;
    display:none;
}

/* We show the third level menu only when they hover the second level menu parent */
#menuwrapper ul li:hover ul li:hover ul{
    display:block;
    left:80px;
    top:0;
}

/* We change the background color for the level 3 submenu*/
#menuwrapper ul li:hover ul li:hover ul li{

}

/* We change the background color for the level 3 submenu when hovering the menu */

#menuwrapper ul li:hover ul li:hover ul li:hover{
 
}

/* We change the level 3 link color */
#menuwrapper ul li:hover ul li:hover ul li a{
    
}

/* Clear float */
.clear{
    clear:both;
}
</style>
