<div class="vertical-nav-li-content row no-gutters align-items-center appointments">
    <div class="pr-4 pt-1 hidden-xs-down">
      <%= appt_icon(appointment) %>
    </div>
    <div class="col-12 col-md-5" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title="">
        <div class="h5">
            <%= appointment.office.name %>
        </div>
        <% if appointment.appointment_slot %>
          <div>
              <%= "#{appointment.appointment_slot.name}: #{slot_time(appointment.starts_at(true))}" %>
          </div>
          <div>
            Suggested Order Count: <%= appointment.appointment_slot.total_staff_count %>
          </div>
        <% else %>
          <div>
            <%= "#{appointment.title}: #{slot_time(appointment.starts_at(true))}" %>
          </div>
        <% end %>
    </div>
    <div class="col-12 col-md-7 col-lg-5 pt-2">
        <div class="row mr-0">
            <% if appointment.upcoming? %>
                <% if appointment.rep_confirmed %>
                    <div class="col" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title=""><a href="#" class="btn btn-block btn-link disabled mb-1">Confirmed</a></div>
                <% elsif appointment.sales_rep_confirmable? %>
                    <div class="col" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title=""><a class="btn btn-block btn-success mb-1" href="<%=confirm_rep_appointment_path(appointment, office_view: @office_view)%>" data-method="post">Confirm</a></div>
                <% else %>
                    <div class="col hidden-lg-down" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title=""></div>
                <% end %>
                <% if appointment.will_have_food? %>
                    <% if appointment.will_supply_food %>
                        <div class="col" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title=""><a href="#" class="btn btn-block btn-link disabled mb-1">Bringing<br/>Your Own</a></div>
                    <% elsif appointment.food_ordered? %>
                        <div class="col" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title=""><a data-modal="true" data-modal-title="" href="<%=rep_order_path(appointment.active_order.id, redirect_to: @redirect_to)%>" class="btn btn-block btn-outline-info mb-1">View Order</a></div>
                      <% elsif appointment.is_sample? %>
                        <div class="col"></div>
                      <% else %>
                        <div class="col"><a href="<%= policies_rep_appointments_path(back: 'current', office_id: appointment.office.id, appointment_id: appointment.id) %>" class="btn btn-block btn-info mb-1">Order Food</a></div>
                    <% end %>
                <% else %>
                    <div class="col hidden-lg-down"></div>
                <% end %>
            <% elsif appointment.food_ordered? %>
              <div class="col hidden-lg-down"></div>
              <div class="col" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title=""><a data-modal="true" data-modal-title="" href="<%=rep_order_path(appointment.active_order.id, redirect_to: @redirect_to)%>" class="btn btn-block btn-outline-info mb-1">View Order</a></div>
            <% elsif appointment.will_supply_food %>
              <% if appointment.upcoming? %>
                <div class="col" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title=""><a href="#" class="btn btn-block btn-link disabled mb-1">Bringing<br/>Your Own</a></div>
              <% else %>
                <div class="col" data-modal="true" href="<%= rep_appointment_path(appointment.id, is_modal: true, office_view: @office_view) %>" data-modal-title=""><a href="#" class="btn btn-link disabled mb-1 pull-right">Brought<br/>Your Own</a></div>
              <% end %>
            <% end %>
        </div>
    </div>
</div>
